.time-wrapper {
    .countdown {
        display: flex;
        .image {
            z-index: 5;
            width: 60px;
            img {
                width: 100%;
                height: auto;
            }
        }
      
        .time {
            position: relative;
            display: flex;
            justify-content: space-between;
            margin-left: -20px;
            margin-top: 10px;
            height: 40px;
            background-color: #ffffff;
            width: 190px;
            border-radius: 5px;
            z-index: 2;
            padding-left: 25px;

            .message {
                position: absolute;
                top: -23px;
                right: 0;
                color: #ffffff;
                font-size: 14px;
                font-weight: 500;
            }

            .value {
                display: flex;
                color: #000000;
                font-size: 20px;
                font-weight: 500;
                padding-top: 5px;
                width: auto;
                .days-elem {
                    margin-right: 20px;
                }
                .time-elem {
                    margin-left: 2px;
                    margin-right: 2px;
                }
            }
        }
    }
}
