@import '../../scss/_variables';

.vault-wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 80px;
    background-color: #0f0233;

    .bg-shape {
        position: relative;
        height: 300px;
        background-image: -webkit-linear-gradient(90deg, rgb(232, 42, 122) 0%, rgb(54, 3, 84) 100%);

        img {
            max-width: 100%;
            height: auto;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    .title {
        margin-top: -150px;

        h2 {
            font-size: 3rem;
            font-weight: 500;
            text-align: center;
        }
    }

    .actions-section {
        padding-top: 5rem;

        .actions {
            position: relative;
            display: flex;
            justify-content: space-between;
            .collect-wrapper {
                .collect {
                    display: flex;
                    .image {
                        z-index: 5;
                        width: 50px;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                  
                    .amount {
                        display: flex;
                        justify-content: space-between;
                        margin-left: -20px;
                        margin-top: 5px;
                        height: 40px;
                        background-color: #ffffff;
                        width: 200px;
                        border-radius: 5px;
                        z-index: 2;
                        padding-left: 35px;

                        .value {
                            color: #000000;
                            font-size: 20px;
                            font-weight: 500;
                            padding-top: 5px;
                            width: 50px;
                        }

                        button {
                            background: #000000;
                            border: 2px solid #ffffff;
                            border-radius: 7px;
                            color: #ffffff;
                        }
                    }
                }
            }

            .buttons {
                display: flex;
                gap: 10px;
                button {
                    background-image: url("../../assets/images/box-square-purple.png");
                    background-position: 50% 50%;
                    background-size: cover;
                    margin-right: 5px;
                    width: 45px;
                    padding: 0;
                    &.jackpot {    
                        font-size: 13px;
                        text-transform: uppercase;
                        font-weight: 600;
                        line-height: 15px;
                        width: auto;
                        padding: 10px;
                        &.active {
                            background-image: url("../../assets/images/box-square-yellow.png");
                        }
                    }

                    &.info, &.stats {
                        color: #ffffff;
                    }
                }
            }
        }
    }

    .vault-section {
        padding-top: 4rem;

        .vault-content {
            display: flex;
            justify-content: center;
            gap: 4rem;

            .box {
                width: 270px;
                height: auto;

                @media (max-width: 1024px) {
                    min-height: unset;
                }

                @media (max-width: 991px) {
                    margin-bottom: 2rem;
                }

                .header {
                    border-bottom: 2px solid black;
    
                    img {
                        width: 100%;
                        height: auto;
                    }
    
                    .box-title {
                        font-size: 25px;
                        font-weight: 600;
                        background-color: #ff1c7d;
                        padding-bottom: 0.5rem;
                        text-align: center;
                        text-transform: uppercase;
                        margin-top: -1px;
                        color: #ffffff;
                    }
                }

                .content {
                    display: flex;
                    justify-content: center;
                    gap: 1rem;
                    padding: 1rem;
                    min-height: 252px;
                    background-image: linear-gradient(1turn, #6c065f, #ff1c7d);
                    background-image: -ms-linear-gradient(90deg, #6c065f 0, #ff1c7d 100%);
    
                    @media (max-width: 991px) {
                        min-height: unset;
                    }
                }

                .footer {
                    margin-top: -1px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                &.box-yellow {
                    .header {
                        .box-title {
                            background-color: #ffb100;
                            color: #000000;
                        }
                    }
                    .content {
                        background-image: linear-gradient(1turn, #ff7e00, #ffb100);
                        background-image: -ms-linear-gradient(90deg, #ff7e00 0, #ffb100 100%);
                    }
                }
            }

            .vault {
                .header {
                    color: #000000;
                }

                .box-wrapper {
                    flex-wrap: wrap;

                    .progressbar-wrapper {
                        width: 100%;
                        p {
                            color: #000000;
                            font-size: 12px;
                            text-align: right;
                        }

                        .progressbar {
                            position: relative;
                            display: block;
                            width: 100%;
                            height: 25px;
                            background-color: #704c14;
                            margin-top: 5px;
                            border-radius: 5px;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            -ms-border-radius: 5px;
                            -o-border-radius: 5px;
                            .bar {
                                position: absolute;
                                width: 0px;
                                height: 100%;
                                top: 0;
                                left: 0;
                                background: #000000;
                                overflow: hidden;
                                border-radius: 5px;
                                -webkit-border-radius: 5px;
                                -moz-border-radius: 5px;
                                -ms-border-radius: 5px;
                                -o-border-radius: 5px;
                            }
                        }
                    }

                    .vault-data-wrapper {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        .vault-data-box {
                            width: 100px;
                            height: 80px;
                            text-transform: uppercase;
                            font-size: 20px;
                            font-weight: 500;
                            text-align: center;
                            padding-top: 8px;
                            background-image: url("../../assets/images/box-win-lose-off.png");
                            background-position: 50% 50%;
                            background-size: cover;
                            border-radius: 5px;

                            .value {
                                color: #ffffff;
                                font-size: 30px;
                                font-weight: 600;
                            }

                            .label {
                                color: #ffb200;
                                font-size: 14px;
                                font-weight: 600;
                            }
                        }
                    }

                    .box-vault {
                        width: 100%;
                        height: 60px;
                        background-image: url("../../assets/images/box-rectangle-black.png");
                        background-position: 50% 50%;
                        background-size: cover;
                        font-size: 75px;
                        text-align: center;
                        color: #ffffff;
                        border-radius: 5px;

                        .user-liquidity-wrapper {
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: center;

                            .value {
                                width: 100%;
                                height: 33px;
                                font-size: 25px;
                                font-weight: 700;
                            }

                            .label {
                                width: 100%;
                                height: auto;
                                color: #ff044d;
                                font-size: 14px;
                                font-weight: 600;
                                text-transform: uppercase;
                            }
                        }
                    }

                }
            }

            .liquidity {

                .header {
                    color: #000000;
                }

                .box-wrapper {
                    flex-wrap: wrap;
                    align-items: flex-start;

                    .tabs-wrapper {
                        display: flex;
                        border-bottom: none;
                        width: 100%;
                        margin-bottom: 2rem;

                        .tabs {
                            width: 100%;
                            text-align: center;
                            background-color: #5d233e;
                            border-radius: 5px;
                            border-bottom: none;
                        }
                    }

                    .tabs-content {
                        margin-bottom: 2rem;
                    }

                    .add-liquidity-wrapper,
                    .remove-liquidity-wrapper {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        .vault-data-input-box {
                            width: 90px;
                            height: 90px;
                            text-transform: uppercase;
                            font-size: 20px;
                            font-weight: 500;
                            text-align: center;
                            padding-top: 8px;
                            background-image: url("../../assets/images/box-square-white.png");
                            background-position: 50% 50%;
                            background-size: cover;
                            border-radius: 5px;

                            .value {
                                color: #000000;
                                font-size: 30px;
                                font-weight: 600;
                            }

                            .label {
                                color: #ff044d;
                                font-size: 14px;
                                font-weight: 600;
                            }

                            &.read-only {
                                filter: brightness(60%);
                            }
                        }

                        .arrow {
                            width: 30px;
                            font-size: 25px;
                            padding: 25px 2px;
                        }
                    }

                    .buttons {
                        height: 40px;
                        width: 100%;
                        text-align: center;

                        button {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

}

input {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.102);
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 43px;
    background-color: white;
    text-align: center;

    &:focus,
    &:focus-visible,
    &:active {
        outline: none;
        border: 1px solid #ffffff !important;
    }
}

button {
    background-image: url("../../assets/images/box-rectangle-yellow.png");
    background-position: 50% 50%;
    background-size: cover;
    color: #000000;
    border: none;
    font-size: 20px;
    width: auto;
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    &:disabled {
        cursor: default;
        background-image: url("../../assets/images/box-rectangle-black.png");
    }
}
