@import '../../scss/_variables';
@import '../../scss/_button';

.nfts-wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 80px;
    background-color: $background-color;
    user-select: none;

    .bg-shape {
        position: relative;
        height: 300px;
        background-image: -webkit-linear-gradient(90deg, rgb(232, 42, 122) 0%, rgb(54, 3, 84) 100%);

        img {
            max-width: 100%;
            height: auto;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    .actions-section {
        padding-top: 2rem;

        .actions {
            position: relative;
            display: flex;
            justify-content: space-between;

            @media (max-width: 1024px) {
                gap: 1rem;
            }
    
            @media (max-width: 481px) {
                justify-content: center;
                gap: 1.5rem;
            }

            .collect-wrapper {
                .collect {
                    display: flex;
                    .image {
                        z-index: 5;
                        width: 50px;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                  
                    .amount {
                        display: flex;
                        justify-content: space-between;
                        margin-left: -20px;
                        margin-top: 5px;
                        height: 40px;
                        background-color: #ffffff;
                        width: 200px;
                        border-radius: 5px;
                        z-index: 2;
                        padding-left: 35px;

                        .value {
                            color: #000000;
                            font-size: 20px;
                            font-weight: 500;
                            padding-top: 5px;
                            width: auto;
                        }

                        button {
                            background: #000000;
                            border: 2px solid #ffffff;
                            border-radius: 7px;
                            color: #ffffff;
                        }
                    }
                }
            }

            .buttons {
                display: flex;
                gap: 10px;
                button {
                    background-image: url("../../assets/images/box-square-purple.png");
                    background-position: 50% 50%;
                    background-size: cover;
                    margin-right: 5px;
                    width: 45px;
                    padding: 0;
                    &.jackpot {    
                        font-size: 13px;
                        text-transform: uppercase;
                        font-weight: 600;
                        line-height: 15px;
                        width: auto;
                        padding: 10px;
                        &.active {
                            background-image: url("../../assets/images/box-square-yellow.png");
                        }
                    }

                    &.info, &.stats {
                        color: #ffffff;

                        svg {
                            vertical-align: text-bottom;
                        }
                    }
                }
            }
        }
    }

    .nfts-section {
        padding-top: 4rem;

        .nfts-content {
            display: flex;
            justify-content: center;
            gap: 2rem;

            @media (max-width: 800px) {
                flex-wrap: wrap;
            }

            .nfts {

                @media (max-width: 800px) {
                    width: 100%;
                }

                .box-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 0rem;
                    height: 225px;

                    .box-nfts {
                        width: 95%;
                        height: 65px;
                        background-image: url("../../assets/images/box-rectangle-black.png");
                        background-position: 50% 50%;
                        background-size: cover;
                        font-size: 75px;
                        text-align: center;
                        color: #ffffff;
                        border-radius: 5px;

                        .data-wrapper {
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: center;

                            .value {
                                width: 100%;
                                height: 33px;
                                font-size: 25px;
                                font-weight: 700;
                            }

                            .label {
                                width: 100%;
                                height: auto;
                                color: #ff044d;
                                font-size: 14px;
                                font-weight: 600;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }

            .carousel {

                .box-wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem 0 0 0;
                    gap: 1rem;
                    .carousel-content {
                        width: 150px;
                    }

                    .buttons {
                        height: 40px;
                        width: 100%;
                        text-align: center;

                        button {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    .instructions-section {
        display: flex;
        justify-content: center;
        padding-top: 4rem;

        .content {
            flex: 0 0 70%;
            max-width: 950px;

            .instructions-wrapper {
                display: flex;
                justify-content: space-between;
                gap: 3rem;
                margin-top: 1rem;
                .instructions-box {
                    position: relative;
                    width: 33%;
                    display: flex;
                    flex-direction: column;
                    padding: 0.4rem 1rem 1rem 1rem;
                    background-image: linear-gradient(180deg, rgb(49, 2, 103) 0%, rgb(67, 0, 86) 100%);
                    background-image: -moz-linear-gradient(180deg, rgb(49, 2, 103) 0%, rgb(67, 0, 86) 100%);
                    background-image: -webkit-linear-gradient(180deg, rgb(49, 2, 103) 0%, rgb(67, 0, 86) 100%);
                    background-image: -ms-linear-gradient(180deg, rgb(49, 2, 103) 0%, rgb(67, 0, 86) 100%);
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;

                    .step {
                        text-align: right;
                        text-transform: uppercase;
                        font-size: 12px;
                        font-weight: 500;
                    }

                    .title {
                        color: $highlight-color-text;
                        margin-bottom: 0.5rem;
                        font-size: 18px;
                        font-weight: 600;
                    }
                }
            }

            .detail-link {
                text-align: center;
                font-size: 15px;
                font-weight: 500;
                padding: 10px;
                line-height: 10px;

                a {
                    color: $main-color;
                    text-decoration: none;
                }
                
            }
        }
    }
}
