@import '../../scss/_variables';

.nfts-wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 80px;
    background-color: #0f0233;

    .bg-shape {
        position: relative;
        height: 300px;
        background-image: -webkit-linear-gradient(90deg, rgb(232, 42, 122) 0%, rgb(54, 3, 84) 100%);

        img {
            max-width: 100%;
            height: auto;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    .title {
        margin-top: -150px;

        h2 {
            font-size: 3rem;
            font-weight: 500;
            text-align: center;
        }
    }

    .description-section {
        .description {
            padding: 1rem;
            background-image: linear-gradient(270deg, #3b26db 1%, #7b19cb 100%);
            background-image: -moz-linear-gradient(270deg, #3b26db 1%, #7b19cb 100%);
            background-image: -webkit-linear-gradient(270deg, #3b26db 1%, #7b19cb 100%);
            background-image: -ms-linear-gradient(270deg, #3b26db 1%, #7b19cb 100%);
            box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;

            .product {
                font-size: 1.2rem;
                font-weight: 600;
                margin-bottom: 0.5rem;
            }

            .text {
                font-size: 1rem;
            }
        }

        .nft-stats {
            font-size: 20px;
            font-weight: 600;
            display: flex;
            justify-content: space-around;

            .nft-staked,
            .nft-percentage {
                margin: 0 auto;
                .cipher {
                    font-size: 40px;
                }
                .title {
                    margin-top: 0;
                }
            }
        }
    }

    .nfts-section {
        padding-top: 4rem;

        .content {
            margin: 0 10rem;


            .tabs {
                display: flex;
                justify-content: center;
                padding-bottom: 1rem;
                .nav-item {
                    margin: 5px 15px;
                    button {
                        border: none;
                        display: inline-flex;
                        align-items: center;
                        gap: 5px;
                        padding: 15px 35px;
                        font-size: 18px;
                        font-weight: 600;
                        text-transform: uppercase;
                        border-radius: 999px;
                        -webkit-border-radius: 999px;
                        -moz-border-radius: 999px;
                        -ms-border-radius: 999px;
                        -o-border-radius: 999px;
                        background-image: linear-gradient(4deg,#ec038b,#fb6468 44%,#fbb936);
                        background-image: -ms-linear-gradient(86deg,#ec038b 0,#fb6468 44%,#fbb936 100%);
                        box-shadow: 0 17px 40px 0 rgba(124, 78, 2, 0.35);
                        transition: background-size .3s;
                        color: #fff;

                        &.active {
                            background-image: linear-gradient(45deg,#d73df5,#8f3df5);
                            background-image: -ms-linear-gradient(45deg,#d73df5 0,#8f3df5 100%);
                            box-shadow: -1.113px 7.922px 16px 0 rgba(143, 61, 245, 0.63);
                        }
                    }
                }
            }
        }
    }
}
