@import '../../scss/_variables';
@import '../../scss/_button';

.lottery-wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 80px;
    background-color: #0f0233;

    .bg-shape {
        position: relative;
        height: 300px;
        background-image: -webkit-linear-gradient(90deg, rgb(232, 42, 122) 0%, rgb(54, 3, 84) 100%);

        img {
            max-width: 100%;
            height: auto;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    .title {
        margin-top: -150px;

        h2 {
            font-size: 3rem;
            font-weight: 500;
            text-align: center;
        }
    }

    .actions-section {
        padding-top: 5rem;

        .actions {
            position: relative;
            display: flex;
            justify-content: space-between;
            .collect-wrapper {
                .collect {
                    display: flex;
                    .image {
                        z-index: 5;
                        width: 50px;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                  
                    .amount {
                        display: flex;
                        justify-content: space-between;
                        margin-left: -20px;
                        margin-top: 5px;
                        height: 40px;
                        background-color: #ffffff;
                        width: 200px;
                        border-radius: 5px;
                        z-index: 2;
                        padding-left: 35px;

                        .value {
                            color: #000000;
                            font-size: 20px;
                            font-weight: 500;
                            padding-top: 5px;
                            width: 50px;
                        }

                        button {
                            background: #000000;
                            border: 2px solid #ffffff;
                            border-radius: 7px;
                            color: #ffffff;
                        }
                    }
                }
            }

            .buttons {
                display: flex;
                gap: 10px;
                button {
                    background-image: url("../../assets/images/box-square-purple.png");
                    background-position: 50% 50%;
                    background-size: cover;
                    margin-right: 5px;
                    width: 45px;
                    padding: 0;
                    &.jackpot {    
                        font-size: 13px;
                        text-transform: uppercase;
                        font-weight: 600;
                        line-height: 15px;
                        width: auto;
                        padding: 10px;
                        &.active {
                            background-image: url("../../assets/images/box-square-yellow.png");
                        }
                    }

                    &.info, &.stats {
                        color: #ffffff;
                    }
                }
            }
        }
    }

    .lottery-section {
        display: flex;
        justify-content: center;
        padding-top: 2rem;

        .content {
            flex: 0 0 70%;
            max-width: 950px;

            .jackpot {
                position: relative;
                display: flex;
                padding: 1rem;
                background-image: linear-gradient(180deg, rgb(67, 0, 86) 0%, rgb(49, 2, 103) 100%);
                background-image: -moz-linear-gradient(180deg, rgb(67, 0, 86) 0%, rgb(49, 2, 103) 100%);
                background-image: -webkit-linear-gradient(180deg, rgb(67, 0, 86) 0%, rgb(49, 2, 103) 100%);
                background-image: -ms-linear-gradient(180deg, rgb(67, 0, 86) 0%, rgb(49, 2, 103) 100%);
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;

                @media (max-width: 1024px) {
                    flex-wrap: wrap;
                    justify-content: space-around;
                }
                
                .box {
                    width: 252px;
                    height: auto;

                    @media (max-width: 1024px) {
                        min-height: unset;
                    }

                    @media (max-width: 991px) {
                        margin-bottom: 2rem;
                    }

                    .header {
                        border-bottom: 2px solid black;
        
                        img {
                            width: 100%;
                            height: auto;
                        }
        
                        .box-title {
                            font-size: 25px;
                            font-weight: 600;
                            background-color: #ff1c7d;
                            padding-bottom: 0.5rem;
                            text-align: center;
                            text-transform: uppercase;
                            margin-top: -1px;
                            color: #ffffff;
                        }
                    }

                    .content {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 1rem;
                        min-height: 230px;
                        background-image: linear-gradient(1turn, #6c065f, #ff1c7d);
                        background-image: -ms-linear-gradient(90deg, #6c065f 0, #ff1c7d 100%);
        
                        @media (max-width: 991px) {
                            min-height: unset;
                        }
                    }

                    .footer {
                        margin-top: -1px;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    &.box-yellow {
                        .header {
                            .box-title {
                                background-color: #ffb100;
                                color: #000000;
                            }
                        }
                        .content {
                            background-image: linear-gradient(1turn, #ff7e00, #ffb100);
                            background-image: -ms-linear-gradient(90deg, #ff7e00 0, #ffb100 100%);
                        }
                    }
                }
                
                .prizes {
                    position: absolute;
                    top: 50%;
                    left: calc(252px/2 * -1);
                    transform: translate(0, -50%);

                    @media (max-width: 1024px) {
                        order: 1;
                        position: relative;
                        transform: unset;
                        left: unset;
                        top: unset;
                    }

                    .header {
                        color: #000000;
                    }

                    .box-wrapper {
                        flex-wrap: wrap;
    
                        .box-prize-pot-wrapper {
                            width: 116px;
                            height: 115px;
                            background-image: url("../../assets/images/box-square-white.png");
                            background-position: 50% 50%;
                            background-size: cover;
                            font-size: 75px;
                            text-align: center;
                            color: #000000;
                            margin-bottom: 1.5rem;
    
                            .box-prize-pot {
                                display: flex;
                                flex-wrap: wrap;
                                align-items: center;
                                justify-content: center;

                                .value {
                                    width: 100%;
                                    height: 70px;
                                    font-size: 55px;
                                    font-weight: 700;
                                }

                                .crypto-currency {
                                    width: 100%;
                                    height: auto;
                                    font-size: 25px;
                                    font-weight: 500;
                                    text-transform: uppercase;
                                    line-height: 40px;
                                    width: 50px;
                                }
                            }
                        }
    
                        .pot-data-wrapper {
                            display: flex;
                            justify-content: space-around;
                            width: 100%;
                            .pot-data-box {
                                width: 80px;
                                height: 80px;
                                text-transform: uppercase;
                                font-size: 20px;
                                font-weight: 500;
                                text-align: center;
                                padding-top: 8px;
                                background-image: url("../../assets/images/box-square-black.png");
                                background-position: 50% 50%;
                                background-size: cover;

                                .value {
                                    color: #ffffff;
                                    font-size: 30px;
                                    font-weight: 600;
                                }

                                .label {
                                    color: #ffb200;
                                    font-size: 12px;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }

                .lottery-numbers-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    background: transparent;
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;

                    @media (max-width: 1024px) {
                        width: 100%;;
                        order: 3;
                    }
    
                    .lottery-numbers {
                        width: 480px;
                        padding: 1rem;
    
                        @media (max-width: 779px) {
                            width: 430px;
                        }
    
                        ul.numbers {
                            display: flex;
                            -ms-flex-wrap: wrap;
                            flex-wrap: wrap;
                            justify-content: flex-start;
                            padding-left: 0;
                            gap: 10px;
                            list-style: none;
            
                            li {
                                padding: 10px 5px;
                                text-align: center;
                                width: auto;
                                min-width: 35px;
                                background-image: linear-gradient(0deg, rgb(236, 3, 139) 0%, rgb(251, 100, 104) 44%, rgb(251, 185, 54) 100%);
                                background-image: -moz-linear-gradient(0deg, rgb(236, 3, 139) 0%, rgb(251, 100, 104) 44%, rgb(251, 185, 54) 100%);
                                background-image: -webkit-linear-gradient(0deg, rgb(236, 3, 139) 0%, rgb(251, 100, 104) 44%, rgb(251, 185, 54) 100%);
                                background-image: -ms-linear-gradient(0deg, rgb(236, 3, 139) 0%, rgb(251, 100, 104) 44%, rgb(251, 185, 54) 100%);
                                box-shadow: 0px 17px 40px 0px rgba(243, 42, 126, 0.35);
                                border-radius: 5px;
                                -webkit-border-radius: 5px;
                                -moz-border-radius: 5px;
                                -ms-border-radius: 5px;
                                -o-border-radius: 5px;
                                font-size: 15px;
                                font-weight: 500;
                                color: #ffffff;
                                line-height: 1;
                                cursor: pointer;
    
                                &:hover {
                                    background-size: 300%;
                                    background-image: linear-gradient(0deg, rgb(236, 3, 139) 0%, rgb(236, 3, 139) 100%);
                                }
    
                                @media (max-width: 779px) {
                                    min-width: 30px;
                                    padding: 5px 0;
                                }
                            }
                        }
                    }
                }

                .tickets {
                    position: absolute;
                    top: 50%;
                    right: calc(252px/2 * -1);
                    transform: translate(0, -50%);

                    @media (max-width: 1024px) {
                        order: 2;
                        position: relative;
                        transform: unset;
                        right: unset;
                        top: unset;
                    }

                    .header {
                        color: #000000;
                    }

                    .box-wrapper {
                        flex-wrap: wrap;
                        align-items: flex-start;

                        .tabs-wrapper {
                            display: flex;
                            border-bottom: none;
                            width: 100%;

                            .tabs {
                                width: 100%;
                                text-align: center;
                                background-color: #5d233e;
                                border-radius: 5px;
                                border-bottom: none;
                                margin-bottom: 1rem;
                            }
                        }
    
                        .tickets-wrapper {
                            width: 200px;
                            height: 120px;
                            background-image: url("../../assets/images/box-square-white.png");
                            background-position: 50% 50%;
                            background-size: cover;
                            background-color: #ffffff;
                            border-radius: 5px;
                            color: #000000;
                            font-size: 15px;
                            margin-bottom: 1.5rem;
                            padding: 10px;

                            .tickets-list {
                                display: flex;
                                flex-wrap: wrap;
                                gap: 10px;
                                max-height: 100px;
                                overflow-y: auto;

                                .item {
                                    width: 40px;
                                    height: 35px;
                                    text-align: center;
                                    border-radius: 5px;
                                    color: #ffffff;
                                    padding: 5px 2px;
                                    font-weight: 500;
                                    background-color: #ff008f;
                                }
                            }
                        }

                        .form-wrapper {
                            height: 40px;
                            width: 100%;

                            .form {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }

}
