@import '../../scss/_variables';
@import '../../scss/_button';

.bets-wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 80px;
    background-color: $background-color;

    .bg-shape {
        position: relative;
        height: 300px;
        background-image: -webkit-linear-gradient(90deg, rgb(232, 42, 122) 0%, rgb(54, 3, 84) 100%);

        img {
            max-width: 100%;
            height: auto;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    .actions-section {
        padding-top: 2rem;

        .actions {
            position: relative;
            display: flex;
            justify-content: space-between;

            @media (max-width: 1024px) {
                gap: 1rem;
            }
    
            @media (max-width: 481px) {
                justify-content: center;
                gap: 1.5rem;
            }

            .collect-wrapper {
                .collect {
                    display: flex;
                    .image {
                        z-index: 5;
                        width: 50px;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                  
                    .amount {
                        display: flex;
                        justify-content: space-between;
                        margin-left: -20px;
                        margin-top: 5px;
                        height: 40px;
                        background-color: #ffffff;
                        width: 200px;
                        border-radius: 5px;
                        z-index: 2;
                        padding-left: 35px;

                        .value {
                            color: #000000;
                            font-size: 20px;
                            font-weight: 500;
                            padding-top: 5px;
                            width: auto;
                        }

                        button {
                            background: #000000;
                            border: 2px solid #ffffff;
                            border-radius: 7px;
                            color: #ffffff;
                        }
                    }

                    @media (max-width: 753px) {
                        order: 1;
                    }
                }
            }

            .steps-wrapper {
                .steps {
                    position: relative;

                    .left-arrow {
                        position: absolute;
                        top: 5px;
                        left: 4px;
                        font-size: 30px;
                        cursor: pointer;
                    }
                    .right-arrow {
                        position: absolute;
                        top: 5px;
                        right: 4px;
                        font-size: 30px;
                        cursor: pointer;
                    }

                    .left-arrow, .right-arrow {
                        color: #5e5e5e;
                        &.active {
                            color: #ffffff;
                        }
                    }
                }

                @media (max-width: 753px) {
                    order: 3;
                }
            }

            .buttons {
                display: flex;
                gap: 10px;
                button {
                    background-image: url("../../assets/images/box-square-purple.png");
                    background-position: 50% 50%;
                    background-size: cover;
                    margin-right: 5px;
                    width: 45px;
                    padding: 0;
                    &.new-bet {    
                        font-size: 13px;
                        text-transform: uppercase;
                        font-weight: 600;
                        line-height: 15px;
                        &.active {
                            background-image: url("../../assets/images/box-square-yellow.png");
                        }
                    }

                    &.info, &.stats {
                        color: #ffffff;
                    }
                }

                @media (max-width: 753px) {
                    order: 2;
                }
            }
        }
    }

    .bets-section {
        padding-top: 4rem;

        .bets-content {
            display: flex;
            justify-content: center;
            gap: 2rem;

            @media (max-width: 1090px) {
                flex-wrap: wrap;
            }

            .box {
                width: 230px;
                height: auto;

                @media (max-width: 991px) {
                    margin-bottom: 2rem;
                }

                .header {
                    border-bottom: 2px solid black;
    
                    img {
                        width: 100%;
                        height: auto;
                    }
    
                    .box-title {
                        font-size: 25px;
                        font-weight: 600;
                        background-color: #ff1c7d;
                        padding-bottom: 0.5rem;
                        text-align: center;
                        text-transform: uppercase;
                        margin-top: -1px;
                        color: #ffffff;
                    }
                }

                .content {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem;
                    min-height: 230px;
                    background-image: linear-gradient(1turn, #6c065f, #ff1c7d);
                    background-image: -ms-linear-gradient(90deg, #6c065f 0, #ff1c7d 100%);
                }

                .footer {
                    margin-top: -1px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                &.box-yellow {
                    .header {
                        .box-title {
                            background-color: #ffb100;
                            color: #000000;
                        }
                    }
                    .content {
                        background-image: linear-gradient(1turn, #ff7e00, #ffb100);
                        background-image: -ms-linear-gradient(90deg, #ff7e00 0, #ffb100 100%);
                    }
                }
            }

            .bet-step {
                .box {
                    @media (max-width: 800px) {
                        margin: 0 auto;
                    }

                    @media (max-width: 991px) {
                        margin-bottom: 1rem;
                    }

                    &.active-step {
                        transform: scale(1.05);
                    }
        
                    &.disabled {
                        filter: brightness(50%);
                    }

                    .header {
                        border-bottom: 2px solid black;

                        img {
                            width: 100%;
                            height: auto;
                        }

                        .box-title {
                            font-size: 25px;
                            font-weight: 600;
                            background-color: #ff1c7d;
                            padding-bottom: 0.5rem;
                            text-align: center;
                            text-transform: uppercase;
                            margin-top: -1px;
                        }
                    }

                    .content {
                        .form-wrapper {
                            .form {
                                ul {
                                    display: flex;
                                    justify-content: center;
                                    flex-wrap: wrap;
                                    gap: 10px;
                                    list-style-type: none;
                                    padding: 0;
        
                                    li {
                                        margin: 0 5px 0 0;
        
                                        input, label {
                                            align-items: center;
                                            justify-content: center;
                                            display: flex;        
                                        }
        
                                        input[type=radio] {
                                            min-height: 0;
                                            width: auto;
                                            opacity: 0;
                                            z-index: 100;
                                            display: none;
                                        }
        
                                        input[type="radio"]:checked+label {
                                            font-weight: 600;
                                            .amount {
                                                color: #000000;
                                            }
                                        }
                
                                        label {
                                            display: flex;
                                            flex-wrap: wrap;
                                            position: relative;
                                            height: auto;
                                            width: 100%;
                                            cursor: pointer;
                                            z-index: 90;
                                            color: $main-color;
                                            font-size: 20px;
                                            text-align: center;
                                            border-radius: 10px;
                                            -webkit-border-radius: 10px;
                                            -moz-border-radius: 10px;
                                            -ms-border-radius: 10px;
                                            -o-border-radius: 10px;
                                            cursor: pointer;
                                        }

                                    }
        
                                    &.bets-amount {
                                        li {
                                            input[type="radio"]:checked+label {
                                                background-image: url("../../assets/images/box-square-yellow.png");
                                            }
        
                                            label {
                                                display: flex;
                                                flex-direction: column;
                                                height: auto;
                                                width: 100%;
                                                min-width: 80px;
                                                max-width: 110px;
                                                min-height: 80px;
                                                max-height: 100px;
                                                background-image: url("../../assets/images/box-square-black.png");
        
                                                .number {
                                                    width: 100%;
                                                    color: #ffffff;
                                                    font-size: 25px;
                                                    font-weight: 600;
                                                }
            
                                                .currency {
                                                    width: 100%;
                                                    color: #ff1c7d;
                                                    font-size: 15px;
                                                    font-weight: 600;
                                                }
                                            }
                                        }
                                        
                                    }
        
                                    &.bets-prediction {
                                        li {
                                            width: 180px;
                                            input[type="radio"]:checked+label {
                                                background-image: url("../../assets/images/box-rectangle-yellow.png");
        
                                                .even-odd-title {
                                                    color: #000000;
                                                }
                                            }
        
                                            label {
                                                height: 57px;
                                                width: 100%;
                                                max-width: 238px;
                                                background-image: url("../../assets/images/box-rectangle-black.png");
                                                flex-wrap: nowrap;
                                                .even-odd-title {
                                                    margin-top: 0;
                                                    text-transform: uppercase;
                                                    font-size: 25px;
                                                    color: #ff1c7d;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
        
                        &.box-wrapper {
                            flex-wrap: wrap;
        
                            .box-result {
                                width: 116px;
                                height: 115px;
                                background-image: url("../../assets/images/box-square-black.png");
                                background-position: 50% 50%;
                                background-size: cover;
                                font-size: 75px;
                                text-align: center;
                                color: #ff1c7d;
        
                                &.show-result-box {
                                    background-image: url("../../assets/images/box-square-white.png");
                                    color: #000000;

                                    .multiplier {
                                        font-size: 55px;
                                    }
                                }
        
                                .final-step-wrapper {
                                    display: flex;
                                    height: 100%;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 40px;
                                    text-transform: uppercase;
                                }
                            }
        
                            .win-lose-wrapper {
                                display: flex;
                                justify-content: space-around;
                                width: 100%;
                                .win-lose-box {
                                    width: 78px;
                                    height: 44px;
                                    text-transform: uppercase;
                                    font-size: 20px;
                                    font-weight: 500;
                                    text-align: center;
                                    padding-top: 8px;
                                    background-image: url("../../assets/images/box-win-lose-off.png");
        
                                    &.active {
                                        background-image: url("../../assets/images/box-win-lose-on.png");
                                        color: #000000;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                    }

                    .box-wrapper {
                        flex-wrap: wrap;
                        gap: 1rem;
                    }
                }
            }
        }
    }

    .instructions-section {
        display: flex;
        justify-content: center;
        padding-top: 4rem;

        .content {
            flex: 0 0 70%;
            max-width: 950px;

            .instructions-wrapper {
                display: flex;
                justify-content: space-between;
                gap: 3rem;
                margin-top: 1rem;
                .instructions-box {
                    position: relative;
                    width: 33%;
                    display: flex;
                    flex-direction: column;
                    padding: 0.4rem 1rem 1rem 1rem;
                    background-image: linear-gradient(180deg, rgb(49, 2, 103) 0%, rgb(67, 0, 86) 100%);
                    background-image: -moz-linear-gradient(180deg, rgb(49, 2, 103) 0%, rgb(67, 0, 86) 100%);
                    background-image: -webkit-linear-gradient(180deg, rgb(49, 2, 103) 0%, rgb(67, 0, 86) 100%);
                    background-image: -ms-linear-gradient(180deg, rgb(49, 2, 103) 0%, rgb(67, 0, 86) 100%);
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;

                    .step {
                        text-align: right;
                        text-transform: uppercase;
                        font-size: 12px;
                        font-weight: 500;
                    }

                    .title {
                        color: $highlight-color-text;
                        margin-bottom: 0.5rem;
                        font-size: 18px;
                        font-weight: 600;
                    }
                }
            }

            .detail-link {
                text-align: center;
                font-size: 15px;
                font-weight: 500;
                padding: 10px;
                line-height: 10px;

                a {
                    color: $main-color;
                    text-decoration: none;
                }
                
            }
        }
    }

    .draws-section {
        display: flex;
        justify-content: center;
        padding-top: 3rem;

        .content {
            flex: 0 0 70%;
            max-width: 950px;

            .table-wrapper {
                margin-top: 1rem;
                position: relative;
                display: flex;
                padding: 1rem;
                background-image: linear-gradient(180deg, rgb(49, 2, 103) 0%, rgb(67, 0, 86) 100%);
                background-image: -moz-linear-gradient(180deg, rgb(49, 2, 103) 0%, rgb(67, 0, 86) 100%);
                background-image: -webkit-linear-gradient(180deg, rgb(49, 2, 103) 0%, rgb(67, 0, 86) 100%);
                background-image: -ms-linear-gradient(180deg, rgb(49, 2, 103) 0%, rgb(67, 0, 86) 100%);
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;

                table {
                    border-collapse: collapse;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    table-layout: fixed;

                    caption {
                        font-size: 1.5em;
                        margin: 0.5em 0 0.75em;
                    }

                    tr {
                        background-color: transparent;
                        padding: 0.35em;

                        th,
                        td {
                            padding: 0.625em;
                            text-align: center;

                            .result {
                                color: $highlight-color-text;
                                font-weight: 500;
                            }
                        }
                        th {
                            font-size: 0.85em;
                            letter-spacing: 0.1em;
                            text-transform: uppercase;
                        }
                    }
                }

                @media screen and (max-width: 1024px) {
                    table {
                        border: 0;

                        caption {
                            font-size: 1.3em;
                        }

                        thead {
                            border: none;
                            clip: rect(0 0 0 0);
                            height: 1px;
                            margin: -1px;
                            overflow: hidden;
                            padding: 0;
                            position: absolute;
                            width: 1px;
                        }

                        tr {
                            border: 1px solid #9186e6;
                            border-bottom: 3px solid #9186e6;
                            display: block;
                            margin-bottom: 0.625em;

                            td {
                                border-bottom: 1px solid #9186e6;
                                display: block;
                                font-size: 0.8em;
                                text-align: right!important;

                                &::before {

                                    content: attr(data-label);
                                    float: left;
                                    font-weight: bold;
                                    text-transform: uppercase;
                                }

                                &:last-child {
                                    border-bottom: 0;
                                }
                            }
                        }
    
                    }
                }
            }
        }
    }
}
