
button {
    background-image: url("../assets/images/box-rectangle-yellow.png");
    background-position: 50% 50%;
    background-size: cover;
    color: #000000;
    border: none;
    font-size: 20px;
    width: auto;
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    &:disabled {
        cursor: default;
        background-image: url("../assets/images/box-rectangle-black.png");
    }
}
