/* This partial contains repeatable property values, such as brand colors and sizes. */


$heading-color: #ffffff;
$para-color: #c4cbf9;

$header-menu-active:#ffa100;
$header-menu-hover:#ffa100;

$base-color: #ffb200;
$base-color-two: #5a4bcc;
$border-color: rgba(#ffffff, 0.1);

$main-color: #ffffff;
$secondary-color: #ffffff;
$active-link-color: #ffa100;

$modal-bg-color: #753e77;
$modal-backdrop-bg: rgba(0, 0, 0, 0.75); 
$modal-title-color: #9ab2d5;
$modal-color: #aa00ff;
$modal-secondary-color: #6b7a98;
$modal-close-hover: #ff044d;

$background-color: #18033e;
