@import '../../scss/_variables';

.container {
    flex-direction: row;
    align-items: center;
    background: url('../../assets/images/404-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    overflow: hidden;

    .text {
        display: flex;
        align-content: flex-end;
        height: 100%;
        padding: 4rem;
    }

    .error {
        position: absolute;
        top: 43%;
        left: 50%;
        width: 600px;
        text-align: center;
        transform: translate(-50%, -50%);

        .error-text {

            &:before {
                content: 'Not Found';
                font-size: 34px;
                line-height: 34px;
                color: #fff;
                text-transform: uppercase;
                position: absolute;
                top: 100%;
                left: 83%;
                font-weight: 700;
                width: 600px;
                text-align: center;
                letter-spacing: -3px;
                transform: translate(-50%, -50%) rotate(-20deg);
            }
            h4 {
                font-size: 130px;
                line-height: 120px;
                background: -webkit-linear-gradient(#fcb503 43%, #e5881b 57%, #fcb11a);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-transform: uppercase;
                letter-spacing: -10px;
                animation: bulb 10s infinite;
            }
          
        }
    }

   
}


/* ===============================
            animation
==================================*/
@keyframes bulb {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 1;
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.9;
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 1;
    }
}