@import '../../scss/_variables';
@import '../../scss/_button';

.prizes-wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 80px;
    background-color: #0f0233;

    .bg-shape {
        position: relative;
        height: 300px;
        background-image: -webkit-linear-gradient(90deg, rgb(232, 42, 122) 0%, rgb(54, 3, 84) 100%);

        img {
            max-width: 100%;
            height: auto;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    .title {
        margin-top: -150px;

        h2 {
            font-size: 3rem;
            font-weight: 500;
            text-align: center;
        }
    }

    .actions-section {
        padding-top: 5rem;

        .actions {
            position: relative;
            display: flex;
            justify-content: space-between;

            @media (max-width: 1024px) {
                gap: 1rem;
            }
    
            @media (max-width: 481px) {
                justify-content: center;
                gap: 1.5rem;
            }

            .collect-wrapper {
                .collect {
                    display: flex;
                    .image {
                        z-index: 5;
                        width: 50px;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                  
                    .amount {
                        display: flex;
                        justify-content: space-between;
                        margin-left: -20px;
                        margin-top: 5px;
                        height: 40px;
                        background-color: #ffffff;
                        width: 200px;
                        border-radius: 5px;
                        z-index: 2;
                        padding-left: 35px;

                        .value {
                            color: #000000;
                            font-size: 20px;
                            font-weight: 500;
                            padding-top: 5px;
                            width: auto;
                        }

                        button {
                            background: #000000;
                            border: 2px solid #ffffff;
                            border-radius: 7px;
                            color: #ffffff;
                        }
                    }
                }
            }

            .buttons {
                display: flex;
                gap: 10px;
                button {
                    background-image: url("../../assets/images/box-square-purple.png");
                    background-position: 50% 50%;
                    background-size: cover;
                    margin-right: 5px;
                    width: 45px;
                    padding: 0;
                    &.jackpot {    
                        font-size: 13px;
                        text-transform: uppercase;
                        font-weight: 600;
                        line-height: 15px;
                        width: auto;
                        padding: 10px;
                        &.active {
                            background-image: url("../../assets/images/box-square-yellow.png");
                        }
                    }

                    &.info, &.stats {
                        color: #ffffff;
                    }
                }
            }
        }
    }

    .prizes-section {
        padding-top: 4rem;

        .prizes-content {
            display: flex;
            justify-content: center;
            gap: 2rem;

            @media (max-width: 880px) {
                flex-wrap: wrap;
                gap: 1.5rem;
            }

            .box {
                .header {
                    .box-title {
                        font-size: 20px;   // FIXME: ADD this and delete
                    }
                }
            }

            .incentives,
            .rewards {

                .box-wrapper {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 1rem;

                    .box-value-wrapper {
                        width: 132px;
                        height: 131px;
                        background-image: url("../../assets/images/box-square-white.png");
                        background-position: 50% 50%;
                        background-size: cover;
                        text-align: center;
                        color: #000000;

                        .box-value {
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: center;

                            .value {
                                width: 100%;
                                height: 85px;
                                line-height: 90px;
                                font-size: 55px;
                                font-weight: 700;
                            }

                            .crypto-currency {
                                width: 100%;
                                height: auto;
                                font-size: 35px;
                                font-weight: 600;
                                text-transform: uppercase;
                                line-height: 40px;
                            }
                        }
                    }

                    .box-info {
                        width: 180px;
                        height: 70px;
                        background-image: url("../../assets/images/box-rectangle-black.png");
                        background-position: 50% 50%;
                        background-size: cover;
                        font-size: 75px;
                        text-align: center;
                        color: #ffffff;
                        border-radius: 5px;

                        .data-wrapper {
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: center;

                            .value {
                                height: 40px;
                                font-size: 24px;
                                font-weight: 600;
                                padding-top: 5px;
                                text-align: center;
                            }

                            .label {
                                width: 100%;
                                height: auto;
                                color: #e59d00;
                                font-size: 14px;
                                font-weight: 600;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }

            .jackpot {

                @media (max-width: 880px) {
                    width: 100%;
                }

                .box-wrapper {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 1rem;

                    .tabs-wrapper {
                        display: flex;
                        border-bottom: none;
                        width: 100%;

                        .tabs {
                            width: 100%;
                            text-align: center;
                            background-color: #5d233e;
                            border-radius: 5px;
                            border-bottom: none;
                            margin-bottom: 0.5rem;
                        }
                    }

                    .prize-pot-wrapper,
                    .tickets-wrapper {
                        width: 180px;
                        height: 85px;
                        background-image: url("../../assets/images/box-square-white.png");
                        background-position: 50% 50%;
                        background-size: cover;
                        background-color: #ffffff;
                        border-radius: 5px;
                        color: #000000;
                        font-size: 15px;
                        padding: 10px;

                        .box-value {
                            display: flex;
                            flex-wrap: wrap;
                            .value {
                                width: 100%;
                                height: 50px;
                                line-height: 30px;
                                font-size: 40px;
                                font-weight: 700;
                                text-align: center;
                            }

                            .crypto-currency {
                                width: 100%;
                                height: 20px;
                                font-size: 30px;
                                font-weight: 600;
                                text-transform: uppercase;
                                line-height: 5px;
                                text-align: center;
                            }
                        }

                        .tickets-list {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 10px;
                            max-height: 70px;
                            overflow-y: auto;

                            .item {
                                width: 35px;
                                height: 30px;
                                text-align: center;
                                border-radius: 5px;
                                color: #ffffff;
                                padding: 3px 2px;
                                font-weight: 500;
                                background-color: #ff008f;
                            }
                        }
                    }

                    .box-info {
                        width: 180px;
                        height: 70px;
                        background-image: url("../../assets/images/box-rectangle-black.png");
                        background-position: 50% 50%;
                        background-size: cover;
                        font-size: 75px;
                        text-align: center;
                        color: #ffffff;
                        border-radius: 5px;

                        .data-wrapper {
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: center;

                            .value {
                                height: 40px;
                                font-size: 24px;
                                font-weight: 600;
                                padding-top: 5px;
                            }

                            .label {
                                width: 100%;
                                height: auto;
                                color: #e59d00;
                                font-size: 14px;
                                font-weight: 600;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
                
            }
        }
    }
}

